input,
button {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

body {
    background-image: radial-gradient(circle farthest-corner at 92.3% 71.5%, rgba(83, 138, 214, 1) 0%, rgba(134, 231, 214, 1) 90%);
        background-repeat: no-repeat;
        background-attachment: fixed;
    /* background-color: #080710;
    background-image: url('sky4.jpg');
    background-size: 200%;
    background-repeat: no-repeat; */
    /* background-position-y: 60%; */
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

#numTermsInput {
    width: 60px
}

#appDiv {
    
    margin-top: 50px;
    height: 800px;
    width: 80%;
    background-color: rgba(40, 40, 40, 0.23);    position: absolute;
    position: absolute;
    /* transform: rotatex(180deg); */
    transform-origin: top;
    transform: translate(-50%, 0%);
    top: 10%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 35px 35px;
}

input {
    margin-top: 25px;
    margin-bottom: 40px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#caloriePlot {
    /* padding-left: 10%;
    padding-right: 10%; */
    padding-bottom: 20px;
    width: auto;
    min-width: 600px;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#title {
    margin-top: -70px;
    padding-left: 7.5%;
    position: fixed;
}

h1 {
    font-size: 70px;
}