{% extends 'base.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js/main-calorie.js') }}"></script>
    <title>chat page</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block body %}
<div>
    Your profile! - Logged in as {{username}},
    <a href="/logout" class="logout"> click here to log out!</a>
    <p id="Username">Username:{{username}}</p>
    <input type="hidden" value={{ username }} id="username">
    <a href='diary',username=username, class="diary"> click here to show your diary record</a> 
    <button onclick="window.location.href='add_record', username=username">add food</button>
    <button onclick="window.location.href='sub_record', username=username">add exercise</button>
</div>

<div id="caloriePlot"></div>
</div>
<script>
    //inital plot
    object.addEventListener("load", populateData);
    const populateData = () => {
        var data = []

        $.get("/getpythondata", function (data) {
            console.log($.parseJSON(data))
        })
        return data;
    } 
    
    var calorieData = populateData();
    // Define Layout
    var calorieLayout = {
        xaxis: { title: "Date" },
        yaxis: { title: "Calories" },
        title: "Calorie Graph"
    };
    Plotly.newPlot("caloriePlot", calorieData, calorieLayout);

</script>
{% endblock %}

