{% extends 'base.html' %}

{% block head %}
    <title>register page</title>
{% endblock %}

{% block body %}
<div id="content">
          <p>Register -  calorie tracker App</p> 
          <form action="" method="post">
            Username: <input type="text" name="user" /><br/>
            age: <input type="text" name="age" /><br/>
            gender: <input type="text" name="gender" /><br/>
            height: <input type="text" name="height" /><br/>
            weight: <input type="text" name="weight" /><br/>
            goal_weight: <input type="text" name="goal_weight" /><br/>
            daily_caloire_goal: <input type="text" name="daily_caloire_goal" /><br/>
            
            Password: <input type="text" name="Password" /><br/>
            Retype Password: <input type="text" name="RePassword" /><br/>
            <input class="Register" type="submit" value="Register" id="Register">
        </form>
</div>
{% endblock %}