{% extends 'base.html' %}

{% block head %}
    <title>register page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">

{% endblock %}

{% block body %}
<div id="content">
          <form action="" method="post">
            <h3>Register an account</h3>
            Username: <input type="text" name="user" /><br/>
            Age: <input type="text" name="age" /><br/>
            Gender: <input type="text" name="gender" /><br/>
            Height: <input type="text" name="height" /><br/>
            Weight: <input type="text" name="weight" /><br/>
            Weight goal: <input type="text" name="goal_weight" /><br/>
            Daily calorie goal: <input type="text" name="daily_caloire_goal" /><br/>
            
            Password: <input type="password" name="Password" /><br/>
            Retype Password: <input type="password" name="RePassword" /><br/>
            <input class="Register" type="submit" value="Register" id="Register">
        </form>
</div>
{% endblock %}